@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeedf6;
  --foreground: #171717;
}

.dark {
  --background: #111112;
  --foreground: #ededed;
  header {
    background-color: #111112;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-large {

  font-size: 72px; /* или любой другой размер шрифта, который вы хотите */

  font-weight: bold;

}

.cover-text {
  @apply transition duration-500 ease-in-out cursor-pointer;
}

.cover-text:hover {
  @apply scale-110 translate-x-12 transition duration-500 ease-in-out cursor-pointer;
}


svg path {
  fill: var(--foreground);
}


header {
  background-color: #eeedf6;
  display: flex;
}

.header-theme {
  @apply transition duration-1000 ease-in-out;
}

.header-theme:hover {
  @apply -rotate-45 transition duration-1000 ease-in-out;
}

.footer-item {
  @apply transition duration-700 ease-in-out;
  cursor: pointer;
}

.footer-item:hover {
  @apply scale-110 transition duration-700 ease-in-out;
}